@model System.Data.DataTable
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <form id="frmEdit" method="post" action="@Url.Action("Update")">
            Book Id: <input name="txtbid" value="@Model.Rows[0]["BookId"]" />
            <br />
            Enter the Book title: <input name="txtTitle" value="@Model.Rows[0]["BookTitle"]" />
            <br />
            Author Id: <input name="txtaid" value="@Model.Rows[0]["AuthorId"]" />
            <br />
            Book price: <input name="txtPrice" value="@Model.Rows[0]["BookPrice"]" />
            <br />
            <input type="submit" value="Submit" name="action" />
            <input type="submit" value="Cancel" name="action" />
        </form>
    </div>
    @Html.ActionLink("Back to list", "Index")
</body>
</html>
